<!DOCTYPE html>
<html class="has-navbar-fixed-top" lang="zh-CN" >
<head>
    <%- partial('common/head') %>
</head>
<body>
    <%- partial('common/scripts') %>
    <%- partial('common/navbar', { page }) %>
    <%- body %>
    <%- partial('common/footer') %>


    <% if (has_config('search.type')) { %>
    <%- partial('search/' + get_config('search.type')) %>
    <% } %>
</body>
</html>