<meta charset="utf-8">
<title><%= page_title() %></title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">

<% const languages = display_languages();
const pageLanguage = page_language(page);
if (languages.length > 1) {
    languages.forEach((language) => {
        if (language !== 'default' && pageLanguage !== language) { %>
<link href="<%= url_for(i18n_path(!is_default_language(language) ? language : null)) %>" rel="alternate" hreflang="<%= rfc5646(language) %>" />
    <% }
    });
} %>

<% if (has_config('description')) { %>
<meta name="description" content="<%- get_config('description') %>">
<% } %>

<% if (has_config('keywords')) { %>
<meta name="keywords" content="<%= get_config('keywords') %>">
<% } %>

<% if (has_config('open_graph')) { %>
    <%- open_graph({
        twitter_id: get_config('open_graph.twitter_id', ''),
        twitter_site: get_config('open_graph.twitter_site', ''),
        google_plus: get_config('open_graph.google_plus', ''),
        fb_admins: get_config('open_graph.fb_admins', ''),
        fb_app_id: get_config('open_graph.fb_app_id', '')
    }) %>
<% } %>

<% if (has_config('rss')) { %>
<link rel="alternative" href="<%- get_config('rss') %>" title="<%= get_config('title') %>" type="application/atom+xml">
<% } %>

<% if (has_config('favicon')) { %>
<link rel="icon" href="<%- get_config('favicon') %>">
<% } %>

<link rel="stylesheet" href="//cdnjs.loli.net/ajax/libs/bulma/0.6.2/css/bulma.min.css">

<link rel="stylesheet" href="//cdnjs.loli.net/ajax/libs/highlight.js/9.12.0/styles/<%= get_config('article.highlight', 'atom-one-light') %>.min.css">

<% if (!(has_config('plugins.gallery') && get_config('plugins.gallery') === false)) { %>
<link rel="stylesheet" href="//cdnjs.loli.net/ajax/libs/lightgallery/1.6.8/css/lightgallery.min.css" media="none" onload="if(media!='all')media='all'">
<noscript><link rel="stylesheet" href="//cdnjs.loli.net/ajax/libs/lightgallery/1.6.8/css/lightgallery.min.css"></noscript>
<link rel="stylesheet" href="//cdnjs.loli.net/ajax/libs/justifiedGallery/3.6.5/css/justifiedGallery.min.css" media="none" onload="if(media!='all')media='all'">
<noscript><link rel="stylesheet" href="//cdnjs.loli.net/ajax/libs/justifiedGallery/3.6.5/css/justifiedGallery.min.css"></noscript>
<% } %>

<%- css('css/style') %>

<script defer src="https://cdn.bootcdn.net/ajax/libs/font-awesome/5.15.1/js/all.min.js"></script>

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Noto+Sans+SC&display=swap" rel="stylesheet"
    media="print"
    onload="this.media='all'">
<noscript>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Noto+Sans+Mono&family=Noto+Sans+SC&display=swap"/>
</noscript>



<% if (has_config('plugins')) { %>
    <% for (let plugin in get_config('plugins')) { %>
    <%- partial('plugins/' + plugin, {head: true}) %>
    <% } %>
<% } %>
