<% const languages = display_languages();
const pageLanguage = page_language(page);
if (languages.length > 1) {
    languages.forEach((language) => {
        if (language !== 'default' && pageLanguage !== language) { %>
<link href="<%= url_for(i18n_path(!is_default_language(language) ? language : null)) %>" rel="alternate" hreflang="<%= rfc5646(language) %>" />
    <% }
    });
} %>

<% if (has_config('description')) { %>
<meta name="description" content="<%- get_config('description') %>">
<% } %>

<% if (has_config('keywords')) { %>
<meta name="keywords" content="<%= get_config('keywords') %>">
<% } %>

<% if (has_config('rss')) { %>
<link rel="alternative" href="<%- get_config('rss') %>" title="<%= get_config('title') %>" type="application/atom+xml">
<% } %>

<% if (has_config('favicon')) { %>
<link rel="icon" href="<%- get_config('favicon') %>">
<% } %>

<% if (has_config('plugins')) { %>
    <% for (let plugin in get_config('plugins')) { %>
    <%- partial('plugins/' + plugin, {head: true}) %>
    <% } %>
<% } %>

<title><%= page_title() %></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
<meta name="theme-color" content="#222f3e"/>
<link rel="manifest" href="/manifest.json">
<link rel="preload" href="https://webfonts-seven.vercel.app/noto-sans-sc-v36-chinese-simplified_latin-regular.woff2" as="font" type="font/woff2" crossorigin>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/highlight.js@10.1.2/styles/atom-one-dark.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.8/css/lightgallery.min.css">
<%- css('//cdn.jsdelivr.net/npm/bulma@0.6.2/css/bulma.min.css') %>
<%- css(['/css/style.css']) %>
<%- css(['/css/insight.css']) %>
<%- js(['//cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js', 
        '//cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js',
        '//cdn.jsdelivr.net/npm/dayjs@1/plugin/relativeTime.min.js',
        '//cdn.jsdelivr.net/npm/dayjs@1/locale/zh-cn.js',
        '//cdnjs.cloudflare.com/ajax/libs/clipboard.js/2.0.0/clipboard.min.js',
        '//cdnjs.cloudflare.com/ajax/libs/lightgallery/1.6.8/js/lightgallery-all.min.js',
        '/js/script.js'
    ])%>
<script>dayjs.extend(window.dayjs_plugin_relativeTime)</script>
<script>dayjs.locale('zh-cn')</script>
