<meta charset="utf-8">
<title><%= page_title() %></title>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5">
<meta name="theme-color" content="#222f3e"/>
<% const languages = display_languages();
const pageLanguage = page_language(page);
if (languages.length > 1) {
    languages.forEach((language) => {
        if (language !== 'default' && pageLanguage !== language) { %>
<link href="<%= url_for(i18n_path(!is_default_language(language) ? language : null)) %>" rel="alternate" hreflang="<%= rfc5646(language) %>" />
    <% }
    });
} %>

<% if (has_config('description')) { %>
<meta name="description" content="<%- get_config('description') %>">
<% } %>

<% if (has_config('keywords')) { %>
<meta name="keywords" content="<%= get_config('keywords') %>">
<% } %>

<% if (has_config('open_graph')) { %>
    <%- open_graph({
        twitter_id: get_config('open_graph.twitter_id', ''),
        twitter_site: get_config('open_graph.twitter_site', ''),
        google_plus: get_config('open_graph.google_plus', ''),
        fb_admins: get_config('open_graph.fb_admins', ''),
        fb_app_id: get_config('open_graph.fb_app_id', '')
    }) %>
<% } %>

<% if (has_config('rss')) { %>
<link rel="alternative" href="<%- get_config('rss') %>" title="<%= get_config('title') %>" type="application/atom+xml">
<% } %>

<% if (has_config('favicon')) { %>
<link rel="icon" href="<%- get_config('favicon') %>">
<% } %>

<link rel="manifest" href="/manifest.json">

<%- css('css/critical') %>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.6.2/css/bulma.min.css" media="print" onload="this.media='all'; this.onload=null;">
<link rel="stylesheet" href="/css/style.css" media="print" onload="this.media='all'; this.onload=null;">

<% if (has_config('plugins')) { %>
    <% for (let plugin in get_config('plugins')) { %>
    <%- partial('plugins/' + plugin, {head: true}) %>
    <% } %>
<% } %>

<link rel="preload" href="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js" as="script"/>
<link rel="preload" href="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js" as="script"/>
<link rel="preload" href="https://cdn.jsdelivr.net/npm/dayjs@1/plugin/relativeTime.min.js" as="script"/>
<link rel="preload" href="https://cdn.jsdelivr.net/npm/dayjs@1/locale/zh-cn.js" as="script"/>
<link rel="preload" href="https://webfonts-seven.vercel.app/noto-sans-sc-v36-chinese-simplified_latin-regular.woff2" as="font" type="font/woff2" crossorigin>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.min.js"></script>