<% function is_same_link(a, b) {
    function santize(url) {
        let paths = url.replace(/(^\w+:|^)\/\//, '').split('#')[0].split('/');
        if (paths.length > 0 && paths[paths.length - 1].trim() === 'index.html') {
            paths = paths.slice(0, paths.length - 1)
        }
        return paths.join('/');
    }

    return santize(url_for(a)) == santize(url_for(b));
} %>
<nav class="navbar is-transparent is-fixed-top navbar-main" role="navigation" aria-label="main navigation">
    <div style="width: 45%;"></div>
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item navbar-logo" href="<%- url_for('/' + (!is_default_language(page_language()) ? page_language() : '')) %>">
                <% if (has_config('logo') && get_config('logo')) { %>
                    <% if (has_config('logo.text') && get_config('logo.text')) { %>
                    <%= get_config('logo.text') %>
                    <% } else { %>
                    <img src="<%- url_for(get_config('logo')) %>" alt="" height="28">
                    <% } %>
                <% } else { %>
                <img src="<%- url_for('images/logo.png') %>" alt="" height="28">
                <% } %>
            </a>
            <div class="navbar-burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <% if (has_config('menu')) { %>
        <div class="navbar-menu navbar-start">
            <% for (let i in get_config('menu')) { let menu = get_config('menu')[i]; %>
            <a class="navbar-item <% if (typeof(page.path) !== 'undefined' && is_same_link(menu, page.path)) { %>is-active<% } %>"
               href="<%- url_for(menu) %>"><%= i %></a>
            <% } %>
        </div>
        <% } %>
        <div style="width: 100%;"></div>
        <div class="navbar-menu navbar-end">
            <% if (has_config('search')) { %>
            <a class="navbar-item search" title="<%= __('nav.search') %>" href="javascript:;">
                <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#00DBAB}</style><path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352a144 144 0 1 0 0-288 144 144 0 1 0 0 288z"/></svg>
                <i class="fa-solid fa-magnifying-glass"></i>
            </a>
            <% } %>
            <% if (has_config('toc') && get_config('toc') === true && typeof(page.content) !== 'undefined') { %>
            <div class="navbar-item is-hoverable has-dropdown is-hidden-mobile is-hidden-tablet-only toc">
                <a class="navbar-item" title="<%= __('nav.toc') %>">
                    <i class="fa fa-list"></i>
                </a>
                <div class="navbar-dropdown is-right">
                    <% let lastHeading = null; %>
                    <% for (let heading of toc_list(page.content)) { %>
                    <% if (lastHeading !== null && heading[0].split('.')[0] !== lastHeading) { %>
                    <hr class="navbar-divider">
                    <% } %>
                    <% lastHeading = heading[0].split('.')[0]; %>
                    <a class="navbar-item" href="#<%= heading[1] %>"><%= heading[0] %>&nbsp;&nbsp;<%- heading[3] === 1 ? '<b>' : '' %><%= heading[2] %><%- heading[3] === 1 ? '</b>' : '' %></a>
                    <% } %>
                </div>
            </div>
            <% } %>
            <% if (has_config('navbar_links')) {
                for (let name in get_config('navbar_links')) {
                    let link = get_config('navbar_links')[name]; %>
            <a class="navbar-item" title="<%= name %>" href="<%= typeof(link) === 'string' ? link : link.url%>">
                <% if (typeof(link) === 'string') { %>
                <%= name %>
                <% } else { %>
                    <svg class="svg-icon" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512"><!--! Font Awesome Free 6.4.2 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2023 Fonticons, Inc. --><style>svg{fill:#00DBAB}</style><path d="M0 64C0 46.3 14.3 32 32 32c229.8 0 416 186.2 416 416c0 17.7-14.3 32-32 32s-32-14.3-32-32C384 253.6 226.4 96 32 96C14.3 96 0 81.7 0 64zM0 416a64 64 0 1 1 128 0A64 64 0 1 1 0 416zM32 160c159.1 0 288 128.9 288 288c0 17.7-14.3 32-32 32s-32-14.3-32-32c0-123.7-100.3-224-224-224c-17.7 0-32-14.3-32-32s14.3-32 32-32z"/></svg>                <% } %>
            </a>
               <% } %>
            <% } %>
        </div>
    </div>
    <div style="width: 45%;"></div>
</nav>
